*::after,*::before,* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.newBook {
    padding: 10px 15px;
    border: none;
    border-radius: 150px;
    background-color: rgb(24, 143, 255);
    color: #fff;
    cursor: pointer;
    margin: 50px;
}

.forms {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    left: 35%;
    top: 10%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    animation: scaleAnimation 0.5s ease-in-out;
    background-color: #fff;
    border: 1px solid rgb(190, 190, 190);
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.labels {
    margin-bottom: 8px;
    text-align: left;
}

.required {
    color: red;
}

.inputs {
    margin-bottom: 25px;
    /* padding: 10px 20px 10px 15px; */
    width: 300px;
    padding: 15px;
    border: none;
    background-color: #f7f7f7;
    outline: none;
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

#read {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    margin-bottom: 25px;
    outline: none;
}

.submit {
    padding: 10px 15px;
    font-size: 0.9rem;
    background-color: rgb(24, 143, 255);
    color: #fff;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}

.cards {
    margin-left: 35px;
    text-align: center;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(100px , 300px));
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    padding: 30px 50px;
    font-size: 1.2rem;
    margin: 15px;
}
.cardText {
    margin-bottom: 15px;
}
.remove {
    display: none;
    padding: 10px 15px;
    font-size: 0.8rem;
    background-color: rgb(24, 143, 255);
    color: #fff;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    margin-top: 15px;
}