*::after,*::before,* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newBook {
    padding: 15px 40px;
    border: none;
    font-size: 1rem;
    border-radius: 150px;
    background-color: rgb(24, 143, 255);
    color: #fff;
    cursor: pointer;
    margin: 50px;
}
.newBook:hover {
    background-color: rgb(61, 161, 255);
}
.newBook:active {
    background-color: rgb(24, 143, 255);
}

.forms {
    display: none;
    position: absolute;
    top: 20%;
    left: 38%;
    flex-direction: column;
    align-items: center;
    z-index: 101;
}
.close {
    position: absolute;
    left: 92%;
    top: 2%;
    font-size: 0.6rem;
    padding: 5px 7px;
    border: none;
    border-radius: 150px;
    background-color: rgb(24, 143, 255);
    color: #fff;
    cursor: pointer;
}
.overlay {
    height: 100vh;
    width: 100vw;
    z-index: 50;
    position: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    animation: blurAnimation 0.4s ease-in-out;
}

@keyframes blurAnimation {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(10px);
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    animation: scaleAnimation 0.5s ease-in-out;
    background-color: #fff;
    border: 1px solid rgb(190, 190, 190);
}
.checkbox {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.labels {
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
}

.required {
    color: red;
}

.inputs {
    margin-bottom: 25px;
    /* padding: 10px 20px 10px 15px; */
    width: 300px;
    padding: 15px;
    border: none;
    background-color: #f7f7f7;
    outline: none;
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

#read {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    margin-bottom: 25px;
    outline: none;
}
.read {
    cursor: pointer;
    background-color: rgba(24, 143, 255, 0.2);
    border-radius: 5px;

}
.notRead {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 5px;
}

.submit {
    padding: 10px 15px;
    font-size: 0.9rem;
    background-color: rgb(24, 143, 255);
    color: #fff;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.submit:hover {
    background-color: rgb(61, 161, 255);
}
.submit:active {
    background-color: rgb(24, 143, 255);
}

.cards {
    place-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px , 300px));
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    height: max-content;
    font-size: 1rem;
    padding: 35px 10px;
    margin: 15px;
}
.cardText {
    padding: 15px;
    
}
.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.author {
    font-size: 1rem;
}

.page {
    font-size: 1rem;
}

.remove { 
    width: 100%;
    padding: 15px 0;
    font-size: 0.8rem;
    background-color: rgb(24, 143, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.2s ease-in-out;
}
.remove:hover {
    background-color: rgb(61, 161, 255);
}
.remove:active {
    background-color: rgb(24, 143, 255);
}

.github-link {
    color: black;
    
}
.fa-github {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.fa-github:hover {
    transform: scale(1.5) rotate(360deg);
}

footer {
    font-size: 0.8rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
  }



  @media only screen and (max-width: 600px) {
    .forms {
        top: 20%;
        left: 15%;
    }
  }